/* 页脚分割线 */
.footer {
    display: block;
    border-top-width: 3px;
    border-top-style: solid;
    border-top-color: #96c1db;
    position: relative;
    z-index: -1;
    max-width: 800px;
    width: 60%;
    margin: .5rem auto 0 auto;
    padding-left: 0rem;
    padding-right: 0rem;
}

@media only screen and (max-width: 1440px) {
    .footer {
        width: 54.5%
    }
}

@media only screen and (max-width: 1200px) {
    .footer {
        width: 50.5%
    }
}

@media only screen and (max-width: 960px) {
    .footer {
        width: 77%
    }
}

@media only screen and (max-width: 680px) {
    .footer {
        width: 95%
    }
}

/* 分隔线 */
hr {
    border: none;
    border-bottom: 2px dashed #7a7a7a !important;
  }
  