/* 标题 */
.page.single h2 {
    font-family: 微软雅黑, 宋体, 黑体, Arial;
    font-weight: bold;
    line-height: 1.3;
    background: rgba(82, 156, 216, 0.333);
    border-radius: 6px;
    padding: 7px;
}
  